<% provide(:title, 'Счета') %>

<div class="row">

  <div class="col-md-2">


    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <a href="#">
          <span class="badge pull-right">  <td> <%= @bills.length %></td></span>
          Все
        </a>
      </li>
      <li><a href="#"></a></li>


    </ul></div>
  <div class="col-md-10">

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th >№ счета</th>
        <th>Дата</th>
        <th>Кому</th>
        <th>Дата оплаты</th>
        <th>Примечание</th>
        <th>Статус</th>
      </tr>
      </thead>
      <tbody>
      <% @bills.each do |bill| %>
          <tr>
            <td> <%= bill.BillName %></td>
            <td> <%= bill.BillDataCreate %></td>
            <td><a href="/client/<%= bill.client.try(:ClientId) || "" %>"><%= bill.client.try(:ClientName) || "Нет" %></a></td>
            <td> <%= bill.BillDatePay %></td>
            <td> <%= bill.BillText %></td>
            <td><span class="label <%= bill.bill_status.try(:BillStatusColor) || "" %>"><%= bill.bill_status.try(:BillStatusName) || "Нет" %></span></td>
          </tr>
      <% end %>


      </tbody>
    </table>


  </div>
</div>
