<% provide(:title, 'Контакты') %>
<div class="row">

  <div class="col-md-2">


    <ul class="nav nav-pills nav-stacked">

      <li class="active">
        <a href="#">
          <span class="badge pull-right"><%= @contacts.length%></span>
          Все
        </a>
      </li>

    </ul>
    <button id="addTrigger" class="btn btn-default btn-sm" value="/contacts/add" title="Добавить контакт" type="submit" aria-label="">Добавить контакт </button>
  </div>
  <div class="col-md-10">

    <div class="columned col-list">
      <% a = '' %>
      <% i = 0 %>
      <% @contacts.each do |c| %>
          <% i+=1 %>
          <% if a == c.FamilyContact[0] %>
              <div class="row">
                <div class="col-md-1"><%=i %> </div>
                <div class="col-md-10">
                  <a  href="/contact/<%= c.IDContact %>" class="grey-list " id="222" href="#222#">
                    <%= c.FamilyContact %> <%= c.NameContact %> <%= c.SoNameContact %>
                  </a>
                </div>
              </div>
          <% else %>
              <% a = c.FamilyContact[0] %>
              <p class="alpp"><span class="alp"><%=a %></span></p>
              <div class="row">
                <div class="col-md-1"><%=i %> </div>
                <div class="col-md-10">
                  <a  href="/contact/<%= c.IDContact %>" class="grey-list " id="222" href="#222#">
                    <%= c.FamilyContact %> <%= c.NameContact %> <%= c.SoNameContact %>

                  </a>
                </div>
              </div>
          <% end %>

      <% end %>

    </div>
    <!-- Modal -->
    <div class = "modal false modal" id = "myModal" tabindex = "-1" role = "dialog"
         aria-labelledby = "myModalLabel" aria-hidden = "true">

      <div class = "modal-dialog">
        <div class = "modal-content">

          <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
              ×
            </button>

            <h4 class = "modal-title" id = "myModalLabel">
              This Modal title
            </h4>
          </div>

          <div class = "modal-body">

          </div>

          <div class = "modal-footer">
            <button type = "button" class = "btn btn-default" data-dismiss = "modal">
              Закрыть
            </button>

            <button type = "button" class = "btn btn-primary" id="Submit">
              Сохранить
            </button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
    <%= javascript_include_tag 'contacts/contacts' %>
    <%= javascript_include_tag 'clients/jquery.form' %>
    <%= javascript_include_tag 'uis/bootstrap-select' %>
    <%= stylesheet_link_tag 'uis/bootstrap-select' %>



  </div>
</div>