<% provide(:title, 'История') %>
<div class="row">

  <div class="col-md-2">

    <%= Time.now.strftime("%Y-%m-%d")%>

    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <a href="#">
          <span class="badge pull-right"><%= @all_history.length%></span>
          Все
        </a>
      </li>
      <li >
        <a href="#">
          <span class="badge pull-right"><%= @today_history.length%></span>
          Сегодня
        </a>
      </li>
      <li >
        <a href="#">
          <span class="badge pull-right"><%= @lastday_history.length%></span>
          Вчера
        </a>
      </li>
      <li><a href="#"></a></li>


    </ul></div>
  <div class="col-md-10">

    <h3>За сегодня</h3>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>Время</th>

        <th>Контакт</th>

      </tr>
      </thead>
      <tbody>
      <% @today_history.each do |h|%>

          <tr>
            <th>@if (isset($t->name)) {{$t->name}} @endif</th>
            <th class="<%= h.call_status.try(:callStatusColor)%>"><%= h.call_status.try(:callStatusName)%></th>
            <th> <%= h.CallDate%></th>
            <th><%= h.CallTime%> </th>

            <th> <% if h.contact %>
                  <a href="/contact/<%=h.contact.try(:IDContact)%>"><%= h.contact.try(:FamilyContact) %> <%= h.contact.try(:NameContact) %> <%= h.contact.try(:SoNameContact) %></a>
              <% else%>
                  <a href="/client/<%= h.client.try(:ClientId)%>"> <%= h.client.ClientName %></a>
              <% end %>

              </tr>
      <% end%>



      </tbody>
    </table>
    <h3>За вчера</h3>
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>Время</th>

        <th>Контакт</th>

      </tr>
      </thead>
      <tbody>
      <% @lastday_history.each do |h|%>

          <tr>
            <th>@if (isset($t->name)) {{$t->name}} @endif</th>
            <th class="<%= h.call_status.try(:callStatusColor)%>"><%= h.call_status.try(:callStatusName)%></th>
            <th> <%= h.CallDate%></th>
            <th><%= h.CallTime%> </th>

            <th> <% if h.contact %>
                  <a href="/contact/<%=h.contact.try(:IDContact)%>"><%= h.contact.try(:FamilyContact) %> <%= h.contact.try(:NameContact) %> <%= h.contact.try(:SoNameContact) %></a>
              <% else%>
                  <a href="/client/<%= h.client.try(:ClientId)%>"> <%= h.client.ClientName %></a>
              <% end %>

              </tr>
      <% end%>



      </tbody>
    </table>
    <h3>Все</h3>

    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Пользователь</th>
        <th>Тип</th>
        <th>Дата</th>
        <th>Время</th>

        <th>Контакт</th>

      </tr>
      </thead>
      <tbody>
     <% @all_history.each do |h|%>

      <tr>
        <th>@if (isset($t->name)) {{$t->name}} @endif</th>
        <th class="<%= h.call_status.try(:callStatusColor)%>"><%= h.call_status.try(:callStatusName)%></th>
        <th> <%= h.CallDate%></th>
        <th><%= h.CallTime%> </th>

        <th> <% if h.contact %>
              <a href="/contact/<%=h.contact.try(:IDContact)%>"><%= h.contact.try(:FamilyContact) %> <%= h.contact.try(:NameContact) %> <%= h.contact.try(:SoNameContact) %></a>
         <% else%>
          <a href="/client/<%= h.client.try(:ClientId)%>"> <%= h.client.ClientName %></a>
          <% end %>

      </tr>
          <% end%>



      </tbody>
    </table>


  </div>
</div>