<!DOCTYPE html>
<html>
  <head>
    <title><%=t :project_name %> | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'dashboard' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" %>
    <%= javascript_include_tag 'bootstrap' %>
  </head>

  <body>

  <div class="container">
    <% if user_signed_in? %>
        <%= render template: 'layouts/menu' %>
    <% else %>

        <% end%>

  <p id="notice"><%= notice %></p>
  <p id="notice"><%= alert %></p>
    <%= yield %>
    <div class="footer">
      <p>© ООО ЗСС Маяк 2016</p>
    </div>
  </div>

  </body>
</html>
